{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title_block %} Create Account {% endblock %}
{% block body_block %}
{% block css_block %}
    <style>
        .change{
            width: 800px;
            border: 0px;
            text-align: center;
            font-family: 'Roboto Slab', serif;
            background-color: whitesmoke;
            background-image:url("https://img.icons8.com/dusk/512/000000/shopify.png");
            background-repeat:no-repeat;
            background-size:50%;
        }
        
    </style>

{% endblock %}
<div class="change container">
<div class="text-center border p-5">
    <p class="h4 mb-4">Update Your Account Information </p>
    
    
        
        <form method="POST" >
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" class="btn btn-success btn-sm" value="Save Changes">
        </form>
    
        <br>
        </hr>
            <p>Already have an Account? </p> <a href="{% url 'App_LOgin:signup' %}">Signup Here</a> 
    
    </div>
</div>
{% endblock %}